<header class="header">
  <div class="container">
    <!-- Logo -->
    <div class="logo">
      <img class="logo1" src="images/Logo-TC.png" alt="Logo">
      <img class="logo2" src="images/Calque_1.png" alt="Logo">
    </div>

    <!-- Bouton burger -->
    <button class="burger-menu" [class.open]="isNavOpen" (click)="toggleNav()" aria-label="Menu">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <!-- Navigation -->
    <nav class="nav" [class.open]="isNavOpen">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeNav()">Accueil</a></li>
        <li><a routerLink="/about" routerLinkActive="active" (click)="closeNav()">À propos</a></li>
        <li><a routerLink="/contact" routerLinkActive="active" (click)="closeNav()">Contact</a></li>
        <li><a routerLink="/partnership" routerLinkActive="active" (click)="closeNav()">Partenariat</a></li>
        <li><a routerLink="/modele" routerLinkActive="active" (click)="closeNav()">Nos Modèles</a></li>
        <li>
          <a (click)="openModal(); closeNav()"> 
            <i class="fa-duotone fa-solid fa-user"></i> 
            <span>Se connecter</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- Ajoutez le composant modal ici -->
<app-login-form-page 
  [isModalOpen]="isModalOpen" 
  (close)="closeModal()">
</app-login-form-page>
    