<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<footer>
    <div class="footer-container">
      <!-- Colonne 1 -->
      <div class="footer-column">
        <div class="footer-logo">
            <img src="images/touringcars.png">
            <p>Qualité, Sécurité, Transparence</p>
            <p>Elegance, Confort.</p>
        </div>
        <div class="footer-social-icons">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
  
      <!-- Colonne 2 -->
      <div class="footer-column">
        <h3>Contact</h3>
        <ul>
          <li><a href="#">WhatsApp</a></li>
          <li><a href="mailto:contato@touringcars.com.br">contato&#64;touringcars.com.br</a></li>
          <li>(81) 3512-9411</li>
        </ul>
      </div>
  
      <!-- Colonne 3 -->
      <div class="footer-column">
        <h3>Inscrivez-vous</h3>
        <p>Signalez votre email pour recevoir les dernières nouvelles de Touring Cars..</p>
        <form class="newsletter-form">
          <input type="email" placeholder="E-mail" required>
          <button type="submit"><i class="fa-solid fa-chevron-right"></i></button>
        </form>
      </div>
    </div>
    <div class="footer-bottom">
      © 2024 Tous droits réservés.
    </div>
  </footer>
