<div class="form-container">
    <h1>Devenez Partenaire</h1>
    <p>
        Remplissez le formulaire et placez votre annonce ! Notre équipe vous répondra dans les plus brefs délais.
    </p>
  
    <form (ngSubmit)="onSubmit()" #annonceForm="ngForm">
      <!-- Vehicle Data -->
      <div class="form-group">
        <h2>Détails du véhicule</h2>
        <div class="input-group">
          <input
            type="text"
            name="marca"
            placeholder="Marque"
            required
            ngModel
            #marca="ngModel"
          />
          <input
            type="text"
            name="modelo"
            placeholder="Modèle"
            required
            ngModel
            #modelo="ngModel"
          />
          <input
            type="text"
            name="versao"
            placeholder="Version"
            required
            ngModel
            #versao="ngModel"
          />
          <input
            type="number"
            name="km"
            placeholder="Kilométrage du véhicule"
            required
            ngModel
            #km="ngModel"
          />
          <input
            type="number"
            name="ano"
            placeholder="Année du véhicule"
            required
            ngModel
            #ano="ngModel"
          />
          <input
            type="number"
            name="valor"
            placeholder="Valeur souhaitée "
            required
            ngModel
            #valor="ngModel"
          />
        </div>
      </div>
  
      <!-- Personal Data -->
      <div class="form-group">
        <h2>Données personnelles</h2>
        <div class="input-group">
          <input
            type="text"
            name="nome"
            placeholder="Nom"
            required
            ngModel
            #nome="ngModel"
          />
          <input
            type="email"
            name="email"
            placeholder="E-mail"
            required
            ngModel
            #email="ngModel"
          />
          <input
            type="text"
            name="numero"
            placeholder="Número"
            required
            ngModel
            #numero="ngModel"
          />
        </div>
      </div>
  
      <!-- Vehicle Photos -->
      <div class="form-group">
        <h2>Photos du véhicule</h2>
        <div class="file-upload-container">
            <div>
            <label class="file-upload-button">
                Choisir les fichiers
              <input
                type="file"
                name="photos"
                (change)="onFileSelect($event)"
                multiple
              />
            </label>
            <span class="file-upload-text" id="fileName">Aucun fichier choisi</span>
        </div>
            <button type="submit" [disabled]="!annonceForm.form.valid">Envoyer</button>
          </div>
    
      </div>
  
      <!-- Consent and Submit -->
      <div class="form-footer">
        <label>
          <input type="checkbox" name="lgpd" required ngModel />
          Conformément à la LGPD, j'accepte de fournir les données ci-dessus afin que TouringCars
           puisse me contacter pour me présenter des services. Votre nom, votre adresse e-mail et 
           votre numéro de téléphone seront utilisés conformément à notre politique de confidentialité..
        </label>
 
      </div>
    </form>
  </div>
  