<section class="block1">
    <div class="blockDescription">
        <div class="infoabout">
            <h2>A propos de nous</h2>
            <p>

                Touring Cars est principalement spécialisé dans la location de voitures de luxe et de super-sport.
                Dans un souci de sécurité, de transparence et de qualité, nos véhicules sont rigoureusement contrôlés et
                certifiés afin de garantir à nos clients une expérience de location en toute sérénité.
            </p>
            <p>
            Nous proposons des modèles rares et exclusifs, ainsi qu'un large choix de véhicules renouvelé
            quotidiennement, offrant ainsi la meilleure expérience de conduite et un niveau de qualité exceptionnel.
            </p>
            <p>
                Nous disposons d'un centre d'entretien dédié, de notre propre flotte pour des livraisons dans tout le
                Brésil, ainsi que d'un showroom haut de gamme où vous pouvez découvrir nos voitures super sportives,
                spéciales, personnalisées et exclusives.
            </p>
            <p>
                Touring Cars est fier d'avoir établi des partenariats avec les meilleurs fournisseurs,
                concessionnaires et centres techniques du monde, afin de concevoir ensemble l'une des meilleures
                structures de location de voitures de luxe du pays.
            </p>


        </div>
    </div>
    <div class="blockImage">
        <img src="images/porsche-model1 1.png" alt="imageblockimage">
    </div>
</section>
<div class="mvv-container">
    <div class="card">
        <h2>Notre mission</h2>
        <p>Être le meilleur choix en matière de voitures haut de gamme et faire partie des moments spéciaux de la vie des gens.</p>
    </div>

    <div class="card">
        <h2>Notre vision</h2>
        <p>Être une référence nationale en tant qu'entreprise la plus surprenante dans le domaine de la connexion entre les personnes, les véhicules, les marchandises et les services connexes..</p>
    </div>

    <div class="card valores-card">
        <h2>Valeurs</h2>
        <ul>
            <li>Inspirer les gens</li>
            <li>Anticiper les demandes</li>
            <li>EL'excellence dans tous les processus</li>
            <li>Des clients pleinement satisfaits</li>
            <li>Une action sociale constante</li>
            <li>Autorité sur le marché</li>
        </ul>
    </div>
</div>