<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<button (click)="navigateToModelPage()" class="getback"><i class="fa-solid fa-chevron-left fa-beat-fade"></i><span>Retour</span></button>
<section class="detailsModel">
  <section class="globalInfo">
    <div *ngIf="car" class="details-content">
    <div class="brandmodel">
      <h1 class="brand">{{ car.brand }}</h1>
      <h2 class="model">{{ car.name }}</h2>
    </div>
      <div class="specifications">
        <p>Annnée <span>{{ car.year }}</span></p>
        <p>Km <span>{{ car.km }}</span></p>
      </div>
      <div class="car-image-mobile">
        <img [src]="car?.modelImage" alt="{{ car?.name }}" />
      </div>
      <p class="price"><span>Mensualité : FCFA</span> {{ car.price }}</p>
    <div class="button-action">
      <button class="view3D"  (click)="open3DModal()"><span>Voir le modèle 3D</span><i class="fa-solid fa-eye "></i></button>
      <button class="contact-button" (click)="openModal()"><span>Réservez maintenant</span><i class="fa-solid fa-chevron-right fa-beat-fade"></i></button>
    </div>
    </div>
    <div class="car-image">
      <img [src]="car?.modelImage" alt="{{ car?.name }}" />
    </div>
  </section>
</section>
<div class="arrow-container">
  <button class="arrow-button" (click)="scrollToModels()" aria-label="Scroll to models section">
      <span class="arrow"></span>
  </button>
</div>
<!-- Session d'inscription -->
 <!-- Modale globale -->

 <app-login-form-page 
 [isModalOpen]="isModalOpen" 
 (close)="closeModal()">
</app-login-form-page>

 <app-model3-dpage 
 [is3DModalOpen]="is3DModalOpen" 
 (close)="close3DModal()">
</app-model3-dpage>

<!-- Fin d'inscription -->


<section class="detailsModel1" id="detailsModel1">
  <div class="sidebar">
  <div *ngIf="car" class="brandmodel">
    <h1 class="brand">{{ car.brand }}</h1>
    <h2 class="model">{{ car.name }}</h2>
  </div>
    <ul>
      <li [class.active]="activeSection === 'images'" (click)="setActiveSection('images')">Images</li>
      <li [class.active]="activeSection === 'specs'" (click)="setActiveSection('specs')">Fiche technique</li>
      <li [class.active]="activeSection === 'details'" (click)="setActiveSection('details')">Details</li>
    </ul>
  </div>

  <div class="content">
    <!-- Section Imagens -->
    <div *ngIf="activeSection === 'images'" class="imagesSection1">
      <div class="imageContainer1">
        <img [src]="images[currentImage]" alt="Car Image" />
      </div>
      <div class="pagination">
        <button (click)="prevImage()" [disabled]="currentImage === 0">
          <i class="fa-solid fa-chevron-left "></i>
        </button>
        <span>{{ currentImage + 1 }}/{{ images.length }}</span>
        <button (click)="nextImage()" [disabled]="currentImage === images.length - 1">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
    </div>

    <!-- Section Ficha Técnica -->
    <div *ngIf="activeSection === 'specs'" class="specsSection">
      <div class="specsGrid">
        <div><strong>Motor</strong><br />2.8 4 Cilindros</div>
        <div><strong>CV</strong><br />204CV</div>
        <div><strong>Torque</strong><br />50,9KGFM</div>
        <div><strong>Transmissão</strong><br />Automática de 6 Velocidades</div>
        <div><strong>Tração</strong><br />Integral</div>
        <div><strong>Velocidade Máxima</strong><br />180KM/H</div>
        <div><strong>Lugares</strong><br />7</div>
        <div><strong>Combustível</strong><br />Diesel</div>
        <div><strong>Cor</strong><br />Branco Lunar</div>
        <div><strong>Porta-Malas</strong><br />500L</div>
        <div><strong>Bancos</strong><br />Couro Caramelo</div>
      </div>
    </div>

    <!-- Section Detalhes -->
    <div *ngIf="activeSection === 'details'" class="detailsSection">
      <li>Faróis de LED com nivelamento automático e temporizador - Follow Me Home</li>
      <li>Faróis de neblina dianteiros</li>
      <li>Lanternas traseiras de LED</li>
    </div>
  </div>
</section>

<app-form-reseach-page></app-form-reseach-page>

