 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<section class="contact-container">
    <div class="contact-content">
      <h2>Contact</h2>
      <div class="contact-buttons">
        <a href="tel:+1234567890" class="contact-button">
            <i class="fa-solid fa-phone fa-beat"></i>
          Contactez - nous
        </a>
        <a href="mailto:contact@example.com" class="contact-button">
            <i class="fa-regular fa-envelope fa-beat"></i>
          Envoyer un email
        </a>
        <a href="https://wa.me/1234567890" class="contact-button">
            <i class="fa-brands fa-whatsapp fa-beat"></i>
          WhatsApp
        </a>
        <a href="https://instagram.com/example" class="contact-button">
          <i class="fa-solid fa-camera fa-beat"></i>
          Instagram
        </a>
      </div>
    </div>
    <div class="car-image">
      <img src="images/BMW M2.png "alt="BMW Luxury Car">
    </div>
  </section>

  <section class="contact-section">
    <div class="form-container">
        <div class="form-header">
            <h2>Cherchez-vous<br>un modèle spécifique ?</h2>
            <p>Laissez votre contact afin que notre équipe puisse vous recontacter !</p>
        </div>

        <form class="contact-form">
            <div class="form-fields">
                <input type="text" placeholder="Modèle">
                <input type="text" placeholder="Nom">
                <input type="email" placeholder="E-mail">
                <input type="tel" placeholder="Número">
                <button type="submit">Envoyer</button>
            </div>

            <div class="form-disclaimer">
                <p>
                    ☐Lors de la planification avec le MAGASIN, j'accepte de recevoir d'une manière ou d'une autre
                    que Huang Car me contacte personnellement uniquement lors de la vente de véhicules avec le texte
                    de modalité hybride.
                </p>
            </div>
        </form>
    </div>
</section>